<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>OMA烧瓶服务器主界面</title>
</head>
<body>
    <h2>上传安装包</h2>
    <ul>
        <li>该文件必须是.zip文件
        <li>该文件将用于FUMO下载和安装
    </ul>
    <form action="/upload_package" method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
    <hr/>
    <h2>配置DD文件参数</h2>
    <form action="/config_dd" method=post enctype=multipart/form-data>
        <label>安装参数：</label>
      <input type=text name=install_params value="{{ g.install_params }}">
      <input type=submit value=submit>
    </form>
</body>
</html>